
.title {
    --background: rgb(103, 144, 233);
}
[text-color="text"] {
    color: white;
}
hr {
    background: rgb(211, 207, 207);
}

td {
    border-bottom: 1px solid rgb(211, 207, 207);
}

#div02{
    background-image: src('/assets/images/animate.jpg');
}