<ion-header [translucent]="true">
    <ion-toolbar class="title" style="height: 50px;">
      <center>
      <ion-title>
        <span text-color="text" style="font-size: 20px;">에이스원 공기청정기</span><br>
      </ion-title>
    </center>
    <!-- 홈으로 가는 버튼 -->
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons> -->
    <!-- 메뉴 바 -->
    <!-- <ion-buttons style="float: right;">  
        <ion-menu-button></ion-menu-button>   
    </ion-buttons> -->
</ion-toolbar>
<!-- Favicon icon -->
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
<!-- Google font-->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
<!-- waves.css -->
<link rel="stylesheet" href="/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
<!-- Required Fremwork -->
<!-- <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/css/bootstrap.min.css"> -->
<!-- waves.css -->
<link rel="stylesheet" href="/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
<!-- themify icon -->
<link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
<!-- Font Awesome -->
<link rel="stylesheet" type="text/css" href="/assets/icon/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </ion-header>

  <ion-content [fullscreen]="true">
        <div id="div1">
        <center>
              <button id="air" disabled><p id="text1">PM2.5 추정</p><p id="text2">8</p></button>
              <div style="margin-top: 160px; color: white; font-size: 20px; font-weight: bold;">현재 실내 공기상태가 좋습니다.</div>
        </center>
        </div>
    <!-- <div class="col-xl-3 col-md-6">
      <div class="card wather-card">
          <div class="nature-card">
              <img src="/assets/images/widget/wathernature.png" alt="whether image" class="img-fluid main-img">
              <img src="/assets/images/widget/watherstar1.png" alt="whether image" class="snow1">
              <img src="/assets/images/widget/watherstar2.png" alt="whether image" class="snow2">
              <img src="/assets/images/widget/watherbottom.png" alt="whether image" class="bottom-img">
              <div class="nature-cont text-white">
                  <div><b>PM2.5 추정</b></div><br>
                  <div style="font-size: 40px;"><b>8</b></div><br>
                  <div style="font-size: 20px;"><b>현재 실내 공기상태가 좋습니다.</b></div>
              </div>
          </div>
          <div class="card-block">
              <div class="row text-c-blue">
                  <div class="col">
                      <h6>월요일</h6></div>
                  <div class="col text-right">5<i class="fa fa-snowflake-o m-l-20"></i></div>
              </div>
              <div class="row m-t-15">
                  <div class="col">
                      <h6>화요일</h6></div>
                  <div class="col text-right">8<i class="fa fa-cloud m-l-20"></i></div>
              </div>
              <div class="row m-t-15">
                  <div class="col">
                      <h6>수요일</h6></div>
                  <div class="col text-right">10<i class="fa fa-sun-o m-l-20"></i></div>
              </div>
              <div class="row m-t-15">
                <div class="col">
                    <h6>목요일</h6></div>
                <div class="col text-right">10<i class="fa fa-sun-o m-l-20"></i></div>
            </div>
          </div>
      </div>
  </div> -->
  </ion-content>


  